.register__container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
}

.register__content {
    display: flex;
    justify-content: space-between;
    align-content: center;

    width: 100%;
    padding: 6rem;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    @media (max-width: 768px) { 
        margin-top: 2rem;
        padding: 1rem;
        flex-direction: column;
        text-align: center;
    }
    
}

.register__section {
    width: 100%;
    max-width: 380px;
    @media (max-width: 768px) { 
        margin-bottom: 2rem;   
        margin-top: 4rem;
    }
}

.register__section__header {
    margin: 64px 0 32px;
    font-size: 32px;
}

.register__section__text {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.register__form {
    width: 100%;
    max-width: 450px;
}

.register__form input {
    margin-top: 8px;
}

.register__form__group {
    display: flex;
}
.register__form__group input + input {
    margin-left: 8px;
}

.register__back-link {
    @media (max-width: 768px) { 
        justify-content: center;
    }
}