.login__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
}

.login__section {
    width: 100%;
    max-width: 350px;
    @media (max-width: 768px) { 
        margin: 1rem;
        text-align: center;
    }
}

.login__logo {
    @media (max-width: 768px) {
        display: none;
    }
}

.login__input {
    margin-bottom: 1rem;
}